*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

.ricerca input {
  outline: none;
}

main {
  background-color: #293542;
  width: 100%;
  position: absolute;
  top: 100px;
  height: calc(100% - 100px);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.row-poster {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

.poster {
  height: 300px;
  width: 200px;
  margin: 0px;
  overflow: hidden;
  color: #fff;
  position: relative;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
}

.poster li img {
  width: 16px;
  z-index: 1;
  margin-left: 5px;
}

.poster:hover li img {
  display: inline;
}

.poster ul {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  display: none;
}

.poster ul li {
  margin-top: 5px;
}
.poster ul li:last-child {
  overflow: hidden;
}

.poster ul li:nth-child(3) span:last-of-type {
  margin-left: -2px;
}

.poster ul li span i.fas.fa-star {
  color: 	#FFD700;
}

.poster:hover ul {
  display: block;
}

.poster:hover {
  transition: 1s;
  transform: scale(0.9);
}

input {
  height: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 10px;
}

button {
  height: 30px;
  background-color: red;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -5px;
  outline: none;
}

button i {
  margin: 5px;
}

aside.container-filtri {
  background-color: inherit;
  height: 100%;
  width: 200px;
  padding: 0px 5px 0px 0px;
  position: absolute;
  left: -195px;
  z-index: 4;
  transition: all 0.5s linear;
}

aside.container-filtri:hover {
  transform: translateX(195px);
}


.filtri {
  height: 100%;
  padding: 20px;
  background-color: black;
  box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.5);
}

select {
  outline: none;
  height: 30px;
  width: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  padding: 5px;
}

select option {
  background-size: cover;
  width: 30px;
}

.filtri span {
  color: #fff;
}

.pagine {
  position: fixed;
  left: 20px;
  top: 150px;
}

.pagine ul {
  list-style: none;
}

.pagine ul li {
  margin-left: -15px;
  transition: all 0.5s linear;
}

.pagine ul li:hover {
  transform: scale(1.5);
}

.pagine ul li button {
  font-weight: bold;
  width: 30px;
  transition: all 0.5s linear;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pagine ul li button:hover {
  width: 50px;
}
