<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="app" class="container">
    <!-- header -->
    <header>
      <div class="logo">
        <img src="img/boolflix.png" alt="logo">
      </div>
      <div class="ricerca">
        <input type="text" @keyup.13="search" v-model="titoloFilm" placeholder=" Cerca...">
        <button @click="search"><i class="fas fa-search"></i></button>
      </div>
    </header>
    <!-- /header -->
    <main >
      <!-- contenitore-films -->
      <div class="row-poster" >
        <!-- corpo-film -->
        <!-- <div v-if="film.poster_path != null"  class="poster" v-for="(film,index) in listaFilms" :style="{ 'background-image': 'url(https://image.tmdb.org/t/p/w400' + film.poster_path + ')' }"> -->
        <div v-if="film.poster_path != null"  class="poster" v-for="film in listaFilms" :style="{'background-image': `url(https://image.tmdb.org/t/p/w400${film.poster_path})`}">
          <!-- dettagli-film -->
          <ul>
            <li><strong>Titolo:</strong> {{film.title}} {{film.name}}</li>
            <li><strong>Titolo originale:</strong> {{film.original_title}} {{film.original_name}}</li>
            <li><strong>Lingua originale:</strong> <img v-if="flags.includes(film.original_language)" :src="'img/' + film.original_language + '.png'"></li>
            <li><strong>Voto:</strong>
                <span><i class="fas fa-star" v-for="(el,index) in film.vote_average"></i></span>
                <span><i class="far fa-star" v-for="(el,index) in (5 - film.vote_average)"></i></span>
            </li>
            <li><strong>Overview:</strong> {{film.overview}}</li>
          </ul>
          <!-- /dettagli-film -->
        </div>
        <!-- /corpo-film -->
      </div>
      <!-- /contenitore-films -->
    </main>
  </div>
  <script src="script/script.js" charset="utf-8"></script>
</body>
</html>
